@import "../utils/globals";
@import "../utils/variables";
@import "../utils/mixins";

.headers .container {
  display: flex;
  justify-content: center;

  @include desktop {
    flex-direction: column;
    padding: 0px;
  }
}

.our-clients {
  padding: 0 15px;
  margin-left: 55px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  cursor: pointer;
  color: $secondaryLighterGrey;

  @media screen and (min-width: "480px") {
    flex-wrap: wrap;
    max-width: 480px;
    max-height: 399px;
    margin-left: 0px;
  }

  @include tablet {
    max-height: 300px;
    max-width: 768px;
  }
  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    max-height: auto;
    max-width: 1200px;
  }
  &__outline {
    border: 1px solid;
    border-radius: 4px;
    height: 92px;
    padding: 16px 0;
    fill: currentColor;
    justify-content: center;

    @include tablet {
      max-width: 226px;
    }

    @include desktop {
      max-width: 170px;
    }
  }

  &__item {
    width: auto;
    max-width: 210px;

    @include tablet {
      flex-wrap: wrap;
    }

    @include desktop {
      width: 170px;
    }

    &:hover,
    &:focus {
      color: $primaryBlue;
      outline: none;
      transition-duration: $transitionDurationTimeDefault;
      transition-timing-function: $transitionTimingDefault;
    }
  }
}
