@import "../utils/globals";
@import "../utils/variables";

.our-clients {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    color: $secondaryLighterGrey;
    &__outline {
      border: 1px solid;
      border-radius: 4px;
      width: 170px;
      height: 92px;
      padding-top: 16px;
      padding-bottom: 16px;
      fill: currentColor;}
      &__item{
  &:hover,
  &:focus {
    color: $primaryBlue;
    outline: none;
    transition-duration: $transitionDurationTimeDefault;
    transition-timing-function: $transitionTimingDefault;
  }}
  }
