@import "../utils/globals";
@import "../utils/variables";
@import "../utils/mixins";

.headers .container {
  display: flex;
  justify-content: center;
}

.our-clients {
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
  max-height: 399px;
  gap: 30px; 
  cursor: pointer;
  color: $secondaryLighterGrey;

  @include tablet {
    max-height: 300px;
    max-width: 768px;
  }
  &__outline {
    border: 1px solid;
    border-radius: 4px; 
    height: 92px;
    padding: 16px 0;
    fill: currentColor;
    justify-content: center;

    @include tablet {
      max-width: 226px;
    }

    @include desktop {
      max-width: 170px;
  }}

  &__item {
      width: auto;
      max-width: 210px;

      @include tablet{
        flex-wrap: wrap;
      }
&:hover,
&:focus{
  color: $primaryBlue;
  outline: none;
  transition-duration: $transitionDurationTimeDefault;
  transition-timing-function: $transitionTimingDefault;
}}
}

// desktop!!!!!!
// .our-clients {
//     display: flex;
//     justify-content: space-between;
//     cursor: pointer;
//     color: $secondaryLighterGrey;
//     &__outline {
//       border: 1px solid;
//       border-radius: 4px;
//       width: 170px;
//       height: 92px;
//       padding-top: 16px;
//       padding-bottom: 16px;
//       fill: currentColor;}
//       &__item{
//   &:hover,
//   &:focus {
//     color: $primaryBlue;
//     outline: none;
//     transition-duration: $transitionDurationTimeDefault;
//     transition-timing-function: $transitionTimingDefault;
//   }}}}