@import "../utils/globals";
@import "../utils/variables";
@import "../utils/mixins";

.header-wrapper {
  padding: 16px 0;
  border-bottom: solid 1px $secodaryWhite;

  @include desktop{
    padding: 24px 0 25px;}
  .container {
    align-items: center;
    justify-content: center;

    @include desktop{
          display: flex;
    justify-content: space-between;
    }
  }
}

.header {
display: flex;
justify-content: space-between;
align-items: center;
@include desktop{
    gap: 93px;}

&__navigation {
  display:none;

  @include desktop {
  display: flex;
  gap: 46px;}}

&__navigation-item {
display: none;

@include desktop {
color: $primaryBlack;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-decoration: none;
    line-height: 1;
    position: relative;
    &--active {
      color: $primaryBlue;
      &::after {
        color: $primaryBlue;
        content: '';
        height: 4px;
        display: block;
        width: 100%;
        background-color: $primaryBlue;
        border-radius: 2px;
        position: absolute;
        top: 45px;
        text-decoration: none;
        &:hover,
&:focus{
  outline: none;
  color :$primaryBlue;
  transition-duration: $transitionDurationTimeDefault;
  transition-timing-function: $transitionTimingDefault;
  &::after {
    content: '';
    height: 4px;
    display: block;
    width: 100%;
    background-color: $primaryBlue;
    border-radius: 2px;
    position: absolute;
    top: 45px;
      }}}}
}}
&__contact {
display: none;

@include desktop {
  display: flex;
  gap: 50px;
  line-height: normal;
        &:hover,
        &:focus {
          color: $primaryBlue;
          transition-duration: $transitionDurationTimeDefault;
          transition-timing-function: $transitionTimingDefault;
}}}
  &__contact-icon{
display: none;
@include desktop {
  margin-right: 10px;
}
}
  &__contact-item {
    display: none;

    @include desktop {
      font-weight: 500;
      font-size: 14px;
      color: $secodaryLightGrey;
      text-decoration: none;
      fill: $secodaryLightGrey;
      &:hover,
      &:focus{
      color: $primaryBlue;
      fill: $primaryBlue;
      outline: none;
      transition-duration: $transitionDurationTimeDefault;
      transition-timing-function: $transitionTimingDefault;
      }}
    }}

.main-window {
        background-image: linear-gradient(
          $secondaryBlackTransparent,
          $secondaryBlackTransparent
          ),
          url('../images/img-background-mob@1x.jpg');
        
        max-height: 400px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        display: flex;
    
        &__title {
        max-width: 365px;
          font-weight: 900;
          font-size: 26px;
          line-height: 1.4;
          color: $primaryWhite;
          letter-spacing: 0.06em;
          margin-top: 56px;

          @include desktop {
          font-size: 44px;}

          @include desktop{
          margin-top: 100px;
          margin-left: 252px;
          margin-right: 252px;}
        }
      }

      // menu mobilne

      .menu {
        // display:flex;
        // flex-direction: column;
        // background: $primaryWhite;
        // border: 1px solid rgba(0, 0, 0, 0.1);
        width: 100vw;
        height: 100%;
        // position: fixed;
        // padding: 48px 40px;
        // transform: translateX(100%);
        // transition-property: transform;
        // transition-duration: 1000ms;
        // transition-timing-function: ease;
      }

 .menu.is-open{
        transform: translateX(0);
        transition-property: transform;
        transition-duration: 1000ms;
        transition-timing-function: ease;
      }

      .is-open {
        pointer-events: none;
        visibility:visible;
        opacity: 1;
        transition: opacity 500ms 500ms ease, visibility 500ms 500ms ease;
      }

      

  .menu__toggle {
min-height: 40px;
min-width: 40px;
display:flex;
align-items:center;
justify-content: center;
margin:0;
padding:0;
cursor: pointer;
border: none;
border-radius: 50%;
outline:none;
background-color: transparent;
&:hover,
&:focus{
  color: $primaryBlue;
}
      }


// .header {
//   display: flex;
//   align-items: center;
//   gap: 93px;
// &__navigation {
//   display: flex;
//   gap: 46px;
// }
// &__navigation-item {
//   color: $primaryBlack;
//     font-weight: 500;
//     font-size: 14px;
//     letter-spacing: 0.02em;
//     text-decoration: none;
//     line-height: 1;
//     position: relative;
//     &--active {
//       color: $primaryBlue;
//       &::after {
//         color: $primaryBlue;
//         content: '';
//         height: 4px;
//         display: block;
//         width: 100%;
//         background-color: $primaryBlue;
//         border-radius: 2px;
//         position: absolute;
//         top: 45px;
//         text-decoration: none;
//       }
//     }
// &:hover,
// &:focus{
//   outline: none;
//   color :$primaryBlue;
//   transition-duration: $transitionDurationTimeDefault;
//   transition-timing-function: $transitionTimingDefault;
//   &::after {
//     content: '';
//     height: 4px;
//     display: block;
//     width: 100%;
//     background-color: $primaryBlue;
//     border-radius: 2px;
//     position: absolute;
//     top: 45px;
//   }
// }}
// &__contact {
//   display: flex;
//   gap: 50px;
//   line-height: normal;
//         &:hover,
//         &:focus {
//           color: $primaryBlue;
//           transition-duration: $transitionDurationTimeDefault;
//           transition-timing-function: $transitionTimingDefault;
//         }}
  // &__contact-icon{
  // margin-right: 10px;
// }
  // &__contact-item {
  //   font-weight: 500;
  //   font-size: 14px;
  //   color: $secodaryLightGrey;
  //   text-decoration: none;
  //   fill: $secodaryLightGrey;
  //   &:hover,
  //   &:focus{
  //   color: $primaryBlue;
  //   fill: $primaryBlue;
  //   outline: none;
  //   transition-duration: $transitionDurationTimeDefault;
  //   transition-timing-function: $transitionTimingDefault;
  //   }}
  //     }