@import "../utils/globals";
@import "../utils/variables";
@import "../utils/mixins";

.logo{
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    padding-top: 4px;

  &__name-start {
    color: $primaryBlue;
  }
  &__name-end {
    color: $primaryBlack;
  }
  &__name-end-white {
    color: $primaryWhite;
  }
}