@import "../utils/globals";
@import "../utils/variables";

.newsletter{
  margin-top:12px;

&__frame {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 358px;
    height: 50px;
    background: $secondaryDarkGrey;
    padding-left: 16px;
    color: $secodaryLightGrey;
    &:hover,
    &:focus{
      border-color: $primaryBlue;
    }
  }
  &__button {
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    color: $primaryWhite;
    background-color: $primaryBlue;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin: 12px 0 0 12px; }

    &__button-icon {
      margin-left: 24px;
    }
&__label{
  fill: $secodaryLightGrey;
}
}