@import "../utils/globals";
@import "../utils/variables";

  .media-links {
    fill: $secondaryLighterGrey;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 10px;
    &__item {
      border-radius: 50%;
      padding: 12px;
      &:hover,
      &:focus{
        fill: $primaryWhite;
        background-color: $primaryBlue;
        outline: none;
        transition-duration: $transitionDurationTimeDefault;
        transition-timing-function: $transitionTimingDefault;
      }
    }
  }
    
  .social-links-footer{
    line-height: 1;
    margin-top: 12px;
&__title {
  font-weight: 700;
  margin-bottom: 20px;
}
&__icons {
  fill: $primaryWhite;
  cursor: pointer;
  display: flex;
  gap: 10px;
  padding-top: 12px;
}
&__item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 12px 12px;
  &:hover,
  &:focus{
    background-color: $primaryBlue;
    border-radius: 50%;
    outline: none;
    transition-duration: $transitionDurationTimeDefault;
    transition-timing-function: $transitionTimingDefault;
  }
}
}