@import "../utils/globals";
@import "../utils/variables";

.our-team {
    background-color: $secodaryLightWhite;
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }
  &__item {
    background: $primaryWhite;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    font-size: 16px;
  }
  &__name-color {
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  &__profession-color {
    color: $secodaryLightGrey;
    margin-bottom: 30px;
  }
  }