$primaryBlue: #2196f3;
$primaryBlack: #212121;
$primaryWhite: #ffffff;

$secondaryDarkGrey: #2f303a;
$secodaryWhite: #ececec;
$secodaryLightGrey: #757575;
$secodaryLightWhite: #f5f4fa;
$secondaryLighterWhite: #eeeeee;
$secondaryBlackTransparent: #2f303a66;
$secondaryLighterGrey: #afb1b8;


$transitionDurationTimeDefault: 250ms;
$transitionTimingDefault: cubic-bezier(0.4, 0, 0.2, 1);